<div class="regionFiltersCard">

          <h6 class="bold">Exotic Group Travel Toolkit</h6>
          <p class="small">Need help planning your holiday? Our toolkit is a great place to get started.</p>


          <div class="mt-2">
            <button class="sideBarBtn" type="button" data-bs-toggle="collapse" data-bs-target="#airfareOnly" aria-expanded="false" aria-controls="airfareOnly">
              Airfare Only <i class="fa-solid fa-angle-down"></i>
            </button>

            <div class="collapseingDiv collapse   mt-2 " id="airfareOnly">
              <div class="fareCard">
                <p class="small">Looking for an airfare only? Ask the airfare experts at GowayAir.</p>
                <img src="./assets/images/beach.jpg" class="img-fluid" alt="">

                <a href="#">See Details</a>
              </div>
            </div>
          </div>






          <div class="mt-2">
            <button class="sideBarBtn mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#tripCustomization" aria-expanded="false" aria-controls="tripCustomization">
              Customize Your Trip <i class="fa-solid fa-angle-down"></i>
            </button>

            <div class="collapseingDiv collapse  mt-2 " id="tripCustomization">
              <div class="fareCard">
                <p class="small">Looking for an airfare only? Ask the airfare experts at GowayAir.</p>
                <img src="./assets/images/beach.jpg" class="img-fluid" alt="">
                <a href="#">See Details</a>
              </div>
            </div>
          </div>



          <div class="mt-2">
            <button class="sideBarBtn mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#tripQuote" aria-expanded="false" aria-controls="tripQuote">
              Get a Trip Quote<i class="fa-solid fa-angle-down"></i>
            </button>

            <div class="collapseingDiv collapse  mt-2 " id="tripQuote">
              <div class="fareCard">
                <p class="small">Looking for an airfare only? Ask the airfare experts at GowayAir.</p>
                <img src="./assets/images/beach.jpg" class="img-fluid" alt="">
                <a href="#">See Details</a>
              </div>
            </div>
          </div>



          <div class="mt-2">
            <button class="sideBarBtn mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#needVisa" aria-expanded="false" aria-controls="needVisa">
              Need a Visa<i class="fa-solid fa-angle-down"></i>
            </button>

            <div class="collapseingDiv collapse  mt-2 " id="needVisa">
              <div class="fareCard">
                <p class="small">Looking for an airfare only? Ask the airfare experts at GowayAir.</p>
                <img src="./assets/images/beach.jpg" class="img-fluid" alt="">
                <a href="#">See Details</a>
              </div>
            </div>
          </div>


          <div class="mt-2">
            <button class="sideBarBtn mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#megazine" aria-expanded="false" aria-controls="megazine">
              Globetrotting Magazine<i class="fa-solid fa-angle-down"></i>
            </button>

            <div class="collapseingDiv collapse  mt-2 " id="megazine">
              <div class="fareCard">
                <p class="small">Looking for an airfare only? Ask the airfare experts at GowayAir.</p>
                <img src="./assets/images/beach.jpg" class="img-fluid" alt="">
                <a href="#">See Details</a>
              </div>
            </div>
          </div>



          <div class="mt-2">
            <button class="sideBarBtn mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#eNews" aria-expanded="false" aria-controls="eNews">
              eNewsLetter Sign Up<i class="fa-solid fa-angle-down"></i>
            </button>

            <div class="collapseingDiv collapse  mt-2 " id="eNews">
              <div class="fareCard">
                <p class="small">Looking for an airfare only? Ask the airfare experts at GowayAir.</p>
                <img src="./assets/images/beach.jpg" class="img-fluid" alt="">
                <a href="#">See Details</a>
              </div>
            </div>
          </div>


          <div class="mt-2">
            <button class="sideBarBtn mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#brochure" aria-expanded="false" aria-controls="brochure">
              Order a Brochure<i class="fa-solid fa-angle-down"></i>
            </button>

            <div class="collapseingDiv collapse  mt-2 " id="brochure">
              <div class="fareCard">
                <p class="small">Looking for an airfare only? Ask the airfare experts at GowayAir.</p>
                <img src="./assets/images/beach.jpg" class="img-fluid" alt="">
                <a href="#">See Details</a>
              </div>
            </div>
          </div>


          <div class="mt-2">
            <button class="sideBarBtn mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#presentations" aria-expanded="false" aria-controls="presentations">
              Online Presentations<i class="fa-solid fa-angle-down"></i>
            </button>

            <div class="collapseingDiv collapse  mt-2 " id="presentations">
              <div class="fareCard">
                <p class="small">Looking for an airfare only? Ask the airfare experts at GowayAir.</p>
                <img src="./assets/images/beach.jpg" class="img-fluid" alt="">
                <a href="#">See Details</a>
              </div>
            </div>
          </div>
        </div>