<section class="destinations">
  <div class="container px-md-3 ">
  <div class="col-md-12">
    <%= render 'shared/messages' %>
    <%= render partial: "shared/inquiry_form", locals: { tour: '' } %>
  </div>
  </div>
</section>