<div class="content-wrapper">
<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Admin/</span>Trip Idea</h4>

  <div class="row">
    <div class="col-md-8">
      <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0">Edit Trip Idea</h5>
        </div>
        <div class="card-body">
        <%= render partial: 'form'  %>
        </div>
      </div>
    </div>
  </div>
</div>