<div class="regionFiltersCard">

          <button class="sideBarBtn mt-2 countryOpenBtn" type="button" data-bs-target="#countryTravelInfo" aria-expanded="false" aria-controls="countryTravelInfo">
            Trip ideas <i class="fa-solid fa-angle-down"></i>
          </button>

          <div class="countryTravelInfo   mt-3 " id="countryTravelInfo">

             <ul class="sideBarLink">
              <li class="dashBottom"><a href="country.php">Link One</a></li>
              <li class="dashBottom"><a href="country.php">Link Two</a></li>
              <li class="dashBottom"><a href="country.php">Link One</a></li>
              <li class="dashBottom"><a href="country.php">Link Three</a></li>
              <li class="dashBottom"><a href="country.php">Link Four</a></li>
              <li class="dashBottom"><a href="country.php">Link Five</a></li>
              <li class="dashBottom"><a href="country.php">Link Six</a></li>
              <li class="dashBottom"><a href="country.php">Link Seven</a></li>
              <li class="dashBottom"><a href="country.php">Link Eight</a></li>
              <li class="dashBottom"><a href="country.php">Link Nine</a></li>
              <li class=" "><a href="country.php">Link Ten</a></li>
            </ul>      

          </div>



          <button class="sideBarBtn mt-2" type="button" data-bs-toggle="collapse"  data-bs-target="#countryCities" aria-expanded="false" aria-controls="countryCities">
            Cities <i class="fa-solid fa-angle-down"></i>
          </button>

          <div class="countries collapse  mt-3 " id="countryCities">

          <ul class="sideBarLink">
              <li class="dashBottom"><a href="#">Link One</a></li>
              <li class="dashBottom"><a href="#">Link Two</a></li>
              <li class="dashBottom"><a href="#">Link One</a></li>
              <li class="dashBottom"><a href="#">Link Three</a></li>
              <li class="dashBottom"><a href="#">Link Four</a></li>
              <li class="dashBottom"><a href="#">Link Five</a></li>
              <li class="dashBottom"><a href="#">Link Six</a></li>
              <li class="dashBottom"><a href="#">Link Seven</a></li>
              <li class="dashBottom"><a href="#">Link Eight</a></li>
              <li class="dashBottom"><a href="#">Link Nine</a></li>
              <li class=" "><a href="#">Link Ten</a></li>
            </ul> 
          </div>






          <button class="sideBarBtn mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#regionsCollapse" aria-expanded="false" aria-controls="regionsCollapse">
            Regions <i class="fa-solid fa-angle-down"></i>
          </button>

          <div class="regionsCollapse collapse mt-3 " id="regionsCollapse">


          <ul class="sideBarLink">
              <li class="dashBottom"><a href="#">Link One</a></li>
              <li class="dashBottom"><a href="#">Link Two</a></li>
              <li class="dashBottom"><a href="#">Link One</a></li>
              <li class="dashBottom"><a href="#">Link Three</a></li>
              <li class="dashBottom"><a href="#">Link Four</a></li>
              <li class="dashBottom"><a href="#">Link Five</a></li>
              <li class="dashBottom"><a href="#">Link Six</a></li>
              <li class="dashBottom"><a href="#">Link Seven</a></li>
              <li class="dashBottom"><a href="#">Link Eight</a></li>
              <li class="dashBottom"><a href="#">Link Nine</a></li>
              <li class=" "><a href="#">Link Ten</a></li>
            </ul> 

          </div>






          
          <button class="sideBarBtn mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#statesCollapse" aria-expanded="false" aria-controls="statesCollapse">
            States <i class="fa-solid fa-angle-down"></i>
          </button>

          <div class="statesCollapse collapse mt-3 " id="statesCollapse">

          <ul class="sideBarLink">
              <li class="dashBottom"><a href="#">Link One</a></li>
              <li class="dashBottom"><a href="#">Link Two</a></li>
              <li class="dashBottom"><a href="#">Link One</a></li>
              <li class="dashBottom"><a href="#">Link Three</a></li>
              <li class="dashBottom"><a href="#">Link Four</a></li>
              <li class="dashBottom"><a href="#">Link Five</a></li>
              <li class="dashBottom"><a href="#">Link Six</a></li>
              <li class="dashBottom"><a href="#">Link Seven</a></li>
              <li class="dashBottom"><a href="#">Link Eight</a></li>
              <li class="dashBottom"><a href="#">Link Nine</a></li>
              <li class=" "><a href="#">Link Ten</a></li>
            </ul> 
          </div>




          <button class="sideBarBtn mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#TravelInfoCollapse" aria-expanded="false" aria-controls="TravelInfoCollapse">
            Travel Info <i class="fa-solid fa-angle-down"></i>
          </button>

          <div class="TravelInfoCollapse collapse mt-3 " id="TravelInfoCollapse">

          <ul class="sideBarLink">
              <li class="dashBottom"><a href="intro.php">Introduction</a></a></li>
              <li class="dashBottom"><a href="things-to-do.php">Things-to-do-</a></li>
              <li class="dashBottom"><a href="country-facts.php">Country Facts</a></li>
              <li class="dashBottom"><a href="culture.php">Culture & Aborigines</a></li>
              <li class="dashBottom"><a href="food-drink.php">Food and Drink</a></li>
              <li class="dashBottom"><a href="graphy-maps.php">Geography and Maps</a></li>
              <li class="dashBottom"><a href="#">Link Six</a></li>
              <li class="dashBottom"><a href="#">Link Seven</a></li>
              <li class="dashBottom"><a href="#">Link Eight</a></li>
              <li class="dashBottom"><a href="#">Link Nine</a></li>
              <li class=" "><a href="#">Link Ten</a></li>
            </ul> 

          </div>





        </div>
