<?php include("./header.php") ?>

<div class="container-fluid p-0">
  <img src="./assets/images/verticleTop.jpg" class="img-fluid" alt="">
</div>





<section class="pageNavigation">
  <div class="container">
    <div class="navigationBar py-2 py-md-0">
      <div class="clippy d-none d-md-flex"> You Are Here</div>
      <div class="mx-2"><a href="index.php">Home </a></div>
      <div> <i class="fa-solid fa-angle-right"></i> </div>
      <div class="mx-2 orgPage"><a href="region.php">Main Page </a></div>
      <div> <i class="fa-solid fa-angle-right"></i> </div>
      <div class="mx-2 orgPage"><a href="#"><i>Country</i> </a></div>
    </div>
  </div>
</section>




<section class="region">
  <div class="container">
    <div class="row">
      <div class=" col-lg-3 mb-3 mb-lg-0">


        <?php include("country-side-bar.php") ?>



      </div>


      <div class=" col-lg-6 mb-3 mb-lg-0">
        <h4>Vacations, Tours & Travel Experiences to Australia, New Zealand & South Pacific Islands</h4>
        <div class="borderBottomBlue">
        </div>

        <div class="socialMedia">
          <div class="meidaLeft">
            <div class="leftIcon">
              <a href="#">
                <i class="fa-brands fa-facebook-f"></i>
              </a>

            </div>

            <div class="leftIcon">
              <a href="#">
                <i class="fa-brands fa-twitter"></i>
              </a>
            </div>
            <div class="leftIcon">
              <a href="#">
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
            </div>

            <div class="leftIcon">
              <a href="#">
                <i class="fa-brands fa-pinterest-p"></i>
              </a>
            </div>
          </div>
          <div class="mediaRight">
            <div class="rightIcon">
              <i class="fa-solid fa-print"></i> <span>Print</span>
            </div>
            <div class="rightIcon">
              <i class="fa-solid fa-book"></i> <span>Brochure</span>
            </div>

            <div class="rightIcon">
              <i class="fa-solid fa-comment"></i> <span>Chat</span>
            </div>



          </div>
        </div>


        <div class="row">
          <div class="col-12">


            <div class="mainDest">
              <div id="mainDestIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#mainDestIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#mainDestIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#mainDestIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#mainDestIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#mainDestIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                  <button type="button" data-bs-target="#mainDestIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="./assets/images/dest1.jpg" class="d-block w-100" alt="image not found">
                    <div class="carousel-caption d-none d-md-block">
                      <p class="small bgGrey ">Some representative placeholder content for the first slide.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/images/dest2.jpg" class="d-block w-100" alt="image not found">
                    <div class="carousel-caption d-none d-md-block">
                      <p class="small bgGrey ">Some representative placeholder content for the first slide.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/images/dest3.jpg" class="d-block w-100" alt="image not found">
                    <div class="carousel-caption d-none d-md-block">
                      <p class="small bgGrey ">Some representative placeholder content for the first slide.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/images/dest4.jpg" class="d-block w-100" alt="image not found">
                    <div class="carousel-caption d-none d-md-block">
                      <p class="small bgGrey ">Some representative placeholder content for the first slide.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/images/dest5.jpg" class="d-block w-100" alt="image not found">
                    <div class="carousel-caption d-none d-md-block">
                      <p class="small bgGrey ">Some representative placeholder content for the first slide.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/images/dest6.jpg" class="d-block w-100" alt="image not found">
                    <div class="carousel-caption d-none d-md-block">
                      <p class="small bgGrey ">Some representative placeholder content for the first slide.</p>
                    </div>
                  </div>
                </div>

              </div>






              <div class="mainDestContent mt-3">
                <p class="small grey justify mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor eveniet modi facere obcaecati dolore asperiores, blanditiis cum repellendus repudiandae inventore, harum omnis mollitia! Nisi, explicabo totam inventore asperiores temporibus eius?</p>
                <p class="small grey justify">Want to know why we are considered the experts in travel to Australia and the South Pacific? <a href="#">Read 56 Reasons to Go Downunder with Goway</a> </p>

                <div class="row">
                  <div class="col-md-8">
                    <p class="small grey justify mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor eveniet modi facere obcaecati dolore asperiores, blanditiis cum repellendus repudiandae inventore, harum omnis mollitia! Nisi, explicabo totam inventore asperiores temporibus eius? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor eveniet modi </p>
                  </div>
                  <div class="col-md-4">
                    <img src="assets/images/maps.jpg" class="img-fluid" alt="">
                  </div>
                </div>
 

                <div class="mt-2" >
                  <h5 class="bold dark">Travel to Australia</h4>
                    <p class="small grey justify"> <a href="#">Australia</a> is both a continent and an island. When planning a visit, take into consideration the diverse nature of the country. There are exciting cosmopolitan cities, tropical jungles, rainforests, mountain ranges, deserts and wine growing regions – all this in one country. Spend time in <a href="#">Sydney</a> with its beautiful harbour, iconic opera house and historical Rocks district. Then move on to <a href="#">Melbourne</a> a cultural and sophisticated urban centre complete with suburban beach resorts (most of our trips to Australia include visits to both cities). </p>


                    <div class="row">
                    <div class="col-md-8">
                      <p class="small grey justify mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor eveniet modi facere obcaecati dolore asperiores, blanditiis cum repellendus repudiandae inventore, harum omnis mollitia! Nisi, explicabo totam inventore asperiores temporibus eius? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor eveniet modi </p>
                    </div>
                    <div class="col-md-4">
                      <img src="assets/images/maps.jpg" class="img-fluid" alt="">
                    </div>
                  </div>




                    <h5 class="bold dark">What are the top cities and places to visit in Australia?</h4>

                      <p class="small grey justify"> <a href="#">Australia</a> is both a continent and an island. When planning a visit, take into consideration the diverse nature of the country. There are exciting cosmopolitan cities, tropical jungles, rainforests, mountain ranges, deserts and wine growing regions – all this in one country. Spend time in <a href="#">Sydney</a> with its beautiful harbour, iconic opera house and historical Rocks district. Then move on to <a href="#">Melbourne</a> a cultural and sophisticated urban centre complete with suburban beach resorts (most of our trips to Australia include visits to both cities). Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quam soluta aliquam nostrum ipsum nulla voluptas sequi nihil, sint, facilis voluptatibus? Itaque ut similique eius minus amet libero excepturi perspiciatis! </p>

                      <h5 class="bold dark">About XYZ City?</h4>
                        <p class="small grey justify"> <a href="#">Australia</a> is both a continent and an island. When planning a visit, take into consideration the diverse nature of the country. There are exciting cosmopolitan cities, tropical jungles, rainforests, mountain ranges, deserts and wine growing regions – all this in one country. Spend time in <a href="#">Sydney</a> with its beautiful harbour, iconic opera house and historical Rocks district. Then move on to <a href="#">Melbourne</a> a cultural and sophisticated urban centre complete with suburban beach resorts (most of our trips to Australia include visits to both cities). Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quam soluta aliquam nostrum ipsum nulla voluptas sequi nihil, sint, facilis voluptatibus? Itaque ut similique eius minus amet libero excepturi perspiciatis! </p>
                        <img src="./assets/images/beach.jpg" class="img-fluid" alt=" image not found">




                




                     


                </div>


                <div class="mt-3 d-flex justify-content-center">
                  <a href="quote.php" class="quoteBtn mt-3">Get Trip Quote</a>
                </div>


              </div>



            </div>




          </div>

        </div>
      </div>

      <div class=" col-lg-3 mb-3 mb-lg-0">

        <?php include("toolkit.php")
        ?>
      </div>
    </div>
  </div>
</section>

<?php include("./footer.php") ?>