
<section class="mainSlider">


  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">

        <img src="assets/images/australia1.jpg" class="d-block w-100 mainImg" alt="...">


        <div class="overlay mainOverlay">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <h1 class="headingOne yellow mt-2">AUSTRALIA</h1>
              </div>
              <div class="col-md-8 mx-auto mb-2 text-center">
                <p class=" white bannerPara">For over 30 years, Exotic Group Travel has been enriching lives through our all-inclusive jet expeditions and custom itineraries.</p>
              </div>

              <div class="col-md-8 mx-auto text-center mt-2 mt-md-4">

                <a href="/" class="bannerBtn">Explore</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="carousel-item">
        <img src="assets/images/australia2.jpg" class="d-block w-100 mainImg" alt="...">
        <div class="overlay mainOverlay">

          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <h1 class="headingOne yellow mt-2">KASHMIR</h1>
              </div>
              <div class="col-md-8 mx-auto mb-2 text-center">
                <p class=" white bannerPara">For over 30 years, Exotic Group Travel has been enriching lives through our all-inclusive jet expeditions and custom itineraries.</p>
              </div>

              <div class="col-md-8 mx-auto text-center mt-2 mt-md-4">

                <a href="/" class="bannerBtn">Explore</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/images/australia3.jpg" class="d-block w-100 mainImg" alt="...">

      <div class="overlay mainOverlay">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1 class="headingOne yellow mt-2">Go To Thai</h1>
            </div>
            <div class="col-md-8 mx-auto mb-2 text-center">
              <p class=" white bannerPara">For over 30 years, Exotic Group Travel has been enriching lives through our all-inclusive jet expeditions and custom itineraries.</p>
            </div>

            <div class="col-md-8 mx-auto text-center mt-2 mt-md-4">

              <a href="/" class="bannerBtn">Explore</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  



</section>



<section class="finderForm">


  <form action="">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 mt-2 mt-md-0">
          <div class="feildDiv">
            <i class="fa-solid fa-globe"></i> 
            <select class="js-example-basic-single w-100 select2 destSelect" name="state">
              <option value="0">Any destination</option>     
              <option value="AL">Australia & South Pacific</option>    
              <option value="WY"> Arica & Middle East </option>
              <option value="0">Asia</option>     
              <option value="AL">Central & South America</option>    
              <option value="WY">US & Canada</option>
              <option value="0">Idyllic Islands</option>     
              <option value="AL">UK & Europe</option>    
              <option value="WY">Arctic & Antarctica</option>
            </select>
           
          </div>
        </div>
        <div class="col-sm-6 col-md-3 mt-2 mt-md-0">
        
        <div class="feildDiv">
          <i class="fa-solid fa-location-dot"></i>
            <select class="js-example-basic-single w-100 select2 destSelect" name="state">
              <option value="0">Any Country</option>     
              <option value="AL">Country one</option>    
              <option value="WY"> Country two </option>
              <option value="0">Country three</option>     
              <option value="AL">Country four</option>    
              <option value="WY">Country five</option>
              <option value="0">Country six</option>     
              <option value="AL">Country seven</option>    
              <option value="WY">Country eight</option>
            </select>
           
          </div>

        </div>

        <div class="col-sm-6 col-md-3 mt-2 mt-md-0 ">


        <div class="feildDiv">
           <i class="fa-solid fa-star"></i>
            <select class="js-example-basic-single w-100 select2 destSelect" name="state">
              <option value="0">Trip type</option>  
             
              <option value="AL" disabled  class="bold"> Other ways to go </option>    
              <option value="WY"> Country two </option>
              <option value="0">Country three</option>     
              <option value="AL">Country four</option>    
              <option value="WY">Country five</option>
              <option value="0">Country six</option>     
              <option value="AL">Country seven</option>    
              <option value="WY">Country eight</option>
            </select>
           
          </div>

      
        </div>
        <div class="col-sm-6 col-md-3 mt-2 mt-md-0 ">
          <button class="findBtn">Find My Trip!</button>
        </div>
      </div>
    </div>

  </form>
</section>


 

<section class="destinations">

  <div class="container-fluid px-md-3">

    <div class="row">

      <div class="col-lg-3  mt-lg-5">


        <div class="customCard heightAuto p-3">
          <div class="d-flex"><a href="#" class="bannerBtn w-100">Private Jets</a></div>
          <h3 class="headingTwo  d-none d-lg-block mt-4">Filters</h3>

          <button class="bannerBtn w-100 d-block d-lg-none " type="button" data-bs-toggle="collapse" data-bs-target="#filters" aria-expanded="false" aria-controls="filters">Filters</button>

          <div class="filters" id="filters">
            <div class="form-check mt-2">
              <input class="form-check-input checkBox" type="checkbox" value="" id="checkOne">
              <label class="form-check-label" for="checkOne">
              Africa
              </label>
            </div>


            <div class="form-check mt-2">
              <input class="form-check-input checkBox" type="checkbox" value="" id="checkTwo"  >
              <label class="form-check-label" for="checkTwo">
              Around the World
              </label>
            </div>




            <div class="form-check mt-2">
              <input class="form-check-input checkBox" type="checkbox" value="" id="checkThree">
              <label class="form-check-label" for="checkThree">
              Asia
              </label>
            </div>


            <div class="form-check mt-2">
              <input class="form-check-input checkBox" type="checkbox" value="" id="checkFour"  >
              <label class="form-check-label" for="checkFour">
              Australia & The Pacific
              </label>
            </div>


            <div class="form-check mt-2">
              <input class="form-check-input checkBox" type="checkbox" value="" id="checkFive">
              <label class="form-check-label" for="checkFive">
              Central America & Caribbean
              </label>
            </div>


            <div class="form-check mt-2">
              <input class="form-check-input checkBox" type="checkbox" value="" id="checkSix"  >
              <label class="form-check-label" for="checkSix">
              Europe
              </label>
            </div>



            <div class="form-check mt-2">
              <input class="form-check-input checkBox" type="checkbox" value="" id="checkSeven">
              <label class="form-check-label" for="checkSeven">
              India & the Middle East
              </label>
            </div>


            <div class="form-check mt-2">
              <input class="form-check-input checkBox" type="checkbox" value="" id="checkEight"  >
              <label class="form-check-label" for="checkEight">
              North America
              </label>
            </div>

            <div class="form-check mt-2">
              <input class="form-check-input checkBox" type="checkbox" value="" id="checkNine">
              <label class="form-check-label" for="checkNine">
              Polar Regions
              </label>
            </div>


            <div class="form-check mt-2">
              <input class="form-check-input checkBox" type="checkbox" value="" id="checkTen"  >
              <label class="form-check-label" for="checkTen">
              South America
              </label>
            </div>


          </div>
          
          
        </div>
      </div>


      <div class="col-lg-9">
        <div class="row mt-5">

          <div class="col-lg-8 px-1">
            <h1 class="headingOne yellow">EXPLORE THE WORLD YOUR WAY</h1>
          </div>
          <div class="col-lg-8 ">
          </div>

          <div class="col-lg-12 p-0">
            <hr>
          </div>
          <div class="col-lg-12">
            <h1 class="headingOne main capitilize">All Trips</h1>
          </div>


          <?php
          for ($x = 0; $x < 5; $x++) {
            echo '<div class="col-md-4 mt-3">
            <div class="customCardOne">
              <div class="cardTop">
              <a href="#">
                  <img src="./assets/images/australia1.jpg" class="img-fluid" alt="">
                </a>
              </div>

              <div class="cardBottom p-2">
                <h3 class="headingTwo m-0">Country Name</h3>
                <p class="medium textJustify small"> <b>Lorem ipsum dolor sit amet consectetur adipi Lorem ipsum dolor sit amet </b></p>
                <p class="small textJustify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic vel reprehenderit nemo enim alias id itaque adipisci dicta! Fugit in veritatis rem et beatae quae dicta aut iure. Dolore, deserunt. Fugit in veritatis rem et beatae quae dicta aut iure. Dolore, deserunt!</< /p>
              </div>

              <div class="button p-2 d-flex justify-content-end">
                <a href="./tripDetails.php" class="detailsBtn">see details <i class="fa-solid fa-circle-arrow-right"></i> </a>
              </div>
            </div>
          </div>';
          };
          ?>






          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
  </div>


</section>
